/melindro_theme/static/assets
/templates
*.pyc
*.pyo
*.db
.DS_Store
.coverage
local_settings.py
/static

.idea/.name

*.iml

.idea/encodings.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml
