{% load i18n staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle hidden-xs" role="button" >
        <i class="pe-7s-world pe-3x pe-va"></i><span class="badge">{{ LANGUAGE_CODE }}</span>
        <p>{% trans "Language" %}<span class="caret"></span></p>
    </a>
    <a href="#" class="dropdown-toggle visible-xs" role="button">
        <i class="pe-7s-world pe-va">&nbsp;{% trans "Language" %}</i>&nbsp;<span class="badge">{{ LANGUAGE_CODE }}</span><span class="caret"></span>
    </a>
        {% static "assets/img/flags/" as flag_path %}
		<ul class="dropdown-menu" id="language-list" role="menu">
            {% for language in languages %}
            {% with language.code|add:".png" as flag_static %}
            <li rel="{{ language.code }}" class="{% if language.code == LANGUAGE_CODE %}active{% endif %}" >
                <a href="#"><img src="{{ flag_path }}{{ flag_static }}"> {{ language.name_local }}</a>
            </li>
            {% endwith %}
            {% endfor %}
        </ul>
</li>